* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik Light", sans-serif;

  background: #191919;
  color: #e4e4e4;
  line-height: 1.5;
}

h1, h2, p {
  margin: 1em 0;
}

a {
  color: #57e6e6;
  text-decoration: none;
}

a:visited {
  color: #b294ff;
}

main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1080px;
}

@media screen and (min-width: 768px) {
  main {
    width: 750px;
  }
}

footer {
  margin: 30px 0 20px 0;
  font-style: italic;
}

body > h1, #my_dataviz {
  text-align: center;
}

.range-slider {
  display: flex;
  align-items: center;
}

.range-slider label {
  min-width: 60px;
}

/* Loading indicator */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.emoji {
  font-style: normal;
}

/* Text Input */
input {
  border-style: none;
  background: transparent;
  outline: none;
  font-family: inherit;
  color: inherit;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

#visualise-input {
  height: fit-content;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
#visualise-input:hover {
  transform: translateX(4px);
  opacity: 0.8;
  transition: 200ms all ease-in-out;
}
#visualise-input svg {
  width: 16px;
  height: 16px;
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 90vw;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1rem 1.2rem;
  background: rgba(57, 63, 84, 0.8);
}

.slider:after {
  height: 1px;
}

.webflow-style-input input {
  flex-grow: 1;
  font-size: 110%;
  vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.webflow-style-input button {
  color: #7881a1;
  vertical-align: middle;
  transition: color 0.25s;
}
.webflow-style-input button:hover {
  color: #bfd2ff;
}

/* range input */
.slider {
  position: relative;
}

.slider-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
}

.slider input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: rgba(57, 63, 84, 0.8);
  outline: none;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 10px;
  border-radius: 1px;
  background: rgba(87, 230, 230, 0.8);
  border: none;
  cursor: pointer;
}

.slider input::-moz-range-thumb {
  width: 15px;
  height: 10px;
  border-radius: 1px;
  background: rgba(87, 230, 230, 0.8);
  border: none;
  cursor: pointer;
}

.warning {
  background: rgba(187, 128, 9, 0.15);
  border: 1px solid rgba(187, 128, 9, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  padding: 20px;
  color: rgb(201, 209, 217);
  width: 100%;
}
